@font-face {
    font-family: "IconPack";
    src: url("iconpack.eot");
    src: local("IconPack"), url("iconpack.woff") format("woff"), url("iconpack.ttf") format("truetype"), url("iconpack.svg#IconPack") format("svg");
}


/*class=lista*/

.lista li:last-child {
    background-color: rgb(67, 134, 173);
    padding: 5px;
}

.lista li:nth-child(odd) {
    text-decoration: underline;
    text-decoration-color: rgb(12, 80, 12);
}

.lista li {
    display: inline;
    margin: 10px;
}


/*para que me cambie el icono*/


/*NO SOY CAPAZ DE CAMBIAR LOS ICONOS, Y TAMPOCO DE PONER OTROS*/


/*ul .lista {
    list-style: none;
}*/

.lista li::after {
    /*font-family: "IcoPack";*/
    content: '\2605';
    margin: 8px;
}

.lista li:lang(en) {
    transform: scale(2);
    text-transform: uppercase;
}


/*id provincias*/

#provincias li {
    list-style-type: upper-roman;
}

#provincias li:nth-child(2) {
    list-style-type: initial;
}