form {
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    text-align: center;
}

form input:required {
    border: 5px solid red;
}

form fieldset {
    background-color: rgba(187, 183, 183, 0.5);
    padding: 1rem;
}

form fieldset:hover {
    background-color: rgba(102, 98, 98, 0.466);
}

form fieldset:first-of-type {
    border-bottom: 5px solid black;
}

form fieldset:last-of-type {
    border-bottom: 5px solid black;
}

button {
    background-color: black;
    color: white;
    border: none;
}